// ----------------------------
// --------  COLORS  ----------
// ----------------------------

$white: #fff;
$blue: #59b8f8;
$gray: #555;
$silver: #bbb;
$black: #222;


// ----------------------------
// ----  SIZES + TIMES  -------
// ----------------------------

$small_spacing: 5px;
$med_spacing: 10px;
$large_spacing: 15px;
$timing_short: .5s;
