// ----------------------------
// --------  COLORS  ----------
// ----------------------------

$white: #fff;
$cream: #E8DFD7;
$light_blue: #9ed2f5;
$blue: #59b8f8;
$dark_blue: #4189B9;
$gray: #555;
$black: #000;


// ----------------------------
// ----  SIZES + TIMES  -------
// ----------------------------

$small_spacing: 5px;
$med_spacing: 10px;
$large_spacing: 15px;
$timing_short: .5s;
