doctype html
html
    head
        title='Another Bradley Project'
        meta(charset='utf-8')
        meta(author='Bradley Staples')
        meta(description='A project by Bradley.')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        link(rel='canonical', href='http://bradleystaples.com')
        link(rel='shortcut', href='/img/bookmarks/favicon.ico')
        link(rel='image_src', href='/img/share-image.jpg')
        link(rel='apple-touch-icon', sizes='57x57', href='/img/bookmarks/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/img/bookmarks/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/img/bookmarks/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/img/bookmarks/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/img/bookmarks/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/img/bookmarks/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/img/bookmarks/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/img/bookmarks/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/img/bookmarks/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/img/bookmarks/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/img/bookmarks/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/img/bookmarks/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/img/bookmarks/favicon-16x16.png')
        link(rel='manifest' href='/img/bookmarks/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/img/bookmarks/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')
        meta(name='pinterest', content='nopin')
        // build:css css/tandb.css
        link(rel='stylesheet', href='/css/index.css')
        // endbuild
        link(href='https://fonts.googleapis.com/css?family=Poiret+One|Open+Sans', rel='stylesheet', type='text/css')
    body
        block content
        // build:js js/index.js
        script(src='/js/browserify.js')
        script(src='/js/index.js')
        // endbuild
