doctype html
html
    head
        title='Another Bradley Project'
        meta(charset='utf-8')
        meta(author='Bradley Staples')
        meta(description='A project by Bradley.')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        link(rel='canonical', href='http://bradleystaples.com')
        link(rel='shortcut', href='/img/bookmarks/favicon.ico')
        //- include ./bookmark_icons
        meta(name='pinterest', content='nopin')
        // build:css css/index.css
        link(rel='stylesheet', href='/css/index.css')
        // endbuild
    body
        block content
        // build:js js/index.js
        script(src='/js/browserify.js')
        script(src='/js/index.js')
        // endbuild
